<script>
  import Router, {replace} from "svelte-spa-router"
  import {wrap} from "svelte-spa-router/wrap"
  import {onMount} from "svelte"

  import {ethereum, auth} from "./stores"
  import networks from "./networks"

  import "./style/default.css"

  import Loading from "./components/Loading.svelte"
  import NotFound from "./components/NotFound.svelte"
  import Auth from "./domain/Auth.svelte"
  import Hub from "./domain/Hub.svelte"
  import Account from "./domain/Account.svelte"
  import Dashboard from "./domain/account/Dashboard.svelte"
  import Profile from "./domain/account/Profile.svelte"

  export let apiUrl
  export let authUrl
  export let network
  export let hubAddress

  onMount(() => {
    ethereum.listen()
  })

  function wrapAuthAccount(component) {
    return wrap({
      loadingComponent: Loading,
      component: Account,
      props: {component, hubAddress},
      userData: {needsAuth: true},
      conditions: [
        () => !!$auth.accessToken,
        () => $ethereum.connected,
        () => $ethereum.chainId === networks[network].chainId
      ],
    })
  }

  const routes = {
    '/auth': wrap({
      loadingComponent: Loading,
      component: Auth,
      props: {authUrl, network, hubAddress},
    }),
    '/hubs/:address': wrap({
      loadingComponent: Loading,
      component: Hub,
      props: {network, hubAddress},
    }),
    '/profiles/:profile': wrapAuthAccount(Profile),
    '/': wrapAuthAccount(Dashboard),
    '*': NotFound,
  }

  function conditionsFailed(event) {
    if (event.detail.userData.needsAuth) {
      replace('/auth')
    } else {
      replace('/404')
    }
  }
</script>

<Router {routes} on:conditionsFailed={conditionsFailed} />
