<script>
  import {tw} from "twind"

  import {LensHub} from "../abi"
  import {account, ethereum} from "../stores"

  import Sidebar from "../components/Sidebar.svelte"
  import Nav from "../components/Nav.svelte"

  export let component
  export let hubAddress

  export let params = {}
  export let props = {}

  let nav = []

  function balanceOf() {
    const transaction = {
      to: hubAddress,
      from: $ethereum.defaultAccount,
      data: LensHub.encodeFunctionData('balanceOf', [
        $ethereum.defaultAccount
      ]),
      chainId: $ethereum.chainId,
    }

    return $ethereum.provider
      .request({method: "eth_call", params: [transaction]})
      .then(response => {
        const results = LensHub.decodeFunctionResult('balanceOf', response)
        return results[0].toNumber()
      })
  }

  function tokenOfOwnerByIndex(index) {
    const transaction = {
      to: hubAddress,
      from: $ethereum.defaultAccount,
      data: LensHub.encodeFunctionData('tokenOfOwnerByIndex', [
        $ethereum.defaultAccount,
        index
      ]),
      chainId: $ethereum.chainId,
    }

    return $ethereum.provider
      .request({method: "eth_call", params: [transaction]})
      .then(response => {
        const results = LensHub.decodeFunctionResult('tokenOfOwnerByIndex', response)
        return results[0].toNumber()
      })
  }

  function getHandle(profileId) {
    const transaction = {
      to: hubAddress,
      from: $ethereum.defaultAccount,
      data: LensHub.encodeFunctionData('getHandle', [profileId]),
      chainId: $ethereum.chainId,
    }

    return $ethereum.provider
      .request({method: "eth_call", params: [transaction]})
      .then(response => {
        const results = LensHub.decodeFunctionResult('getHandle', response)
        return results[0]
      })
  }

  function getProfileIds(total) {
    if (total === 0) {
      return Promise.resolve([])
    }

    return new Promise((resolve, reject) => {
      let index = 0
      let profileIds = []

      function onError(err) {
        if (/owner index out of bounds/.test(err.data?.message)) {
          resolve(profileIds)
        } else {
          reject(err)
        }
      }

      function onProfile(profileId) {
        profileIds = [...profileIds, profileId]

        if (index + 1 >= total) {
          return resolve(profileIds)
        }
        return tokenOfOwnerByIndex(++index).then(onProfile).catch(onError)
      }

      tokenOfOwnerByIndex(index).then(onProfile).catch(onError)
    })
  }

  function getProfiles(profileIds) {
    return Promise.all(
      profileIds.map(
        profileId => getHandle(profileId).then(
          handle => ({profileId, handle})
        )
      )
    )
  }

  $: if (!$account.loaded) {
    balanceOf()
      .then(total => getProfileIds(total))
      .then(profileIds => getProfiles(profileIds))
      .then(profiles => {
        account.update(prevState => ({
          ...prevState,
          loaded: true,
          profiles,
        }))
      })
  }

  $: nav = [
    {href: '/', label: 'Dashboard'},
    {
      href: '/profiles',
      label: 'Profiles',
      empty: 'No profiles created.',
      children: $account.profiles.map(profile => ({
        href: `/profiles/${profile.handle}`,
        label: `@${profile.handle}`,
      }))
    },
  ]
</script>

<div class={tw`flex h-screen antialiased text-black bg-gray-100 dark:bg-gray-800 dark:text-white`}>
  <Sidebar>
    <Nav items={nav} />
  </Sidebar>

  <main aria-labelledby="page-title" class={tw`flex-1`}>
    <svelte:component this={component} {...props} {params} {hubAddress} />
  </main>
</div>
