<script>
  import {keccak256} from "js-sha3"
  import {tw} from "twind"
  import {link} from "svelte-spa-router"

  import {ethereum, auth} from "../stores"
  import networks from "../networks"

  export let authUrl
  export let network
  export let hubAddress

  let error

  let signMessageLoading = false
  let connectMetaMaskLoading = false
  let changeNetworkLoading = false

  function authenticate(address, signature) {
    return new Promise((resolve, reject) => {
      fetch(`${authUrl}/signin`, {
        method: 'POST',
        headers: {'content-type': 'application/json'},
        body: JSON.stringify({address, signature}),
      }).then(
        res => {
          if (res.ok) {
            res.json().then(
              data => resolve({
                accessToken: data.accessToken,
                refreshToken: data.refreshToken,
              }),
              err => reject(err.message)
            )
          } else {
            reject(res.statusText)
          }
        },
        reason => reject(String(reason))
      )
    })
  }

  function signIn(address, message) {
    return new Promise((resolve, reject) => {
      $ethereum.provider.request({
        method: 'eth_sign',
        params: [
          address,
          `0x${keccak256("\x19Ethereum Signed Message:\n" + message.length + message)}`,
        ],
      }).then(
        signature => resolve(signature),
        err => reject(err.message)
      )
    })
  }

  function challenge(address) {
    return new Promise((resolve, reject) => {
      fetch(`${authUrl}/challenge`, {
        method: 'POST',
        headers: {'content-type': 'application/json'},
        body: JSON.stringify({address}),
      }).then(
        res => {
          if (res.ok) {
            res.json().then(
              data => resolve(data.message),
              err => reject(err.message)
            )
          } else {
            reject(res.statusText)
          }
        },
        reason => reject(String(reason))
      )
    })
  }

  function onCloseErrorClick() {
    error = undefined
  }

  function onSignMessageClick() {
    signMessageLoading = true
    challenge($ethereum.defaultAccount)
      .then(message => signIn($ethereum.defaultAccount, message))
      .then(signature => authenticate($ethereum.defaultAccount, signature))
      .then(authData => {
        signMessageLoading = false
        auth.set(authData)
      })
      .catch(err => {
        signMessageLoading = false
        error = err
      })
  }

  function onConnectMetaMaskClick() {
    connectMetaMaskLoading = true
    ethereum.connect().then(
      () => connectMetaMaskLoading = false,
      err => {
        connectMetaMaskLoading = false
        error = err.message
      }
    )
  }

  function onChangeNetworkClick() {
    changeNetworkLoading = true
    ethereum.switchTo(network).then(
      () => changeNetworkLoading = false,
      err => {
        changeNetworkLoading = false
        error = err.message
      }
    )
  }

  function onDisconnectClick() {
    ethereum.disconnect()
    auth.set({accessToken: undefined, refreshToken: undefined})
  }
</script>

<main aria-labelledby="page-title" class={tw`flex flex-col items-center justify-center min-h-screen p-4 space-y-4 antialiased text-gray-900 bg-gray-100 dark:bg-gray-800 dark:text-white`}>
  <div class={tw`w-full max-w-sm p-6 pt-4 space-y-4 bg-white dark:bg-gray-900 rounded-md`}>
    <h1 id="page-title" class={tw`text-xl font-semibold text-center`}>Overlens</h1>

    {#if error}
      <p class={tw`relative text-sm text-red-600 dark:text-red-400`}>
        <button on:click={onCloseErrorClick} class={tw`absolute top-0 right-0 hover:text-black dark:hover:text-white`}>
          <svg
            class={tw`absolute w-3 h-3`}
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
        <span>{error}</span>
      </p>
    {/if}

    {#if $ethereum.connected && $ethereum.chainId === networks[network].chainId && !!$auth.accessToken}
      <p class={tw`px-4 py-2 text-sm text-justify border-1 text-green-600 border-green-700 dark:(text-green-500 border-gray-400) rounded-md`}>
        Welcome to Overlens. <br />
        You're authenticated and connected to Lens Protocol
        on <a href={networks[network].linkToHub(hubAddress)} class={tw`text-blue-600 dark:text-blue-400 hover:underline`}>{networks[network].name}</a>. <br />
      </p>
      <p class={tw`text-sm text-gray-600 dark:text-gray-400`}>
        Go to <a href="/" use:link class={tw`text-blue-600 dark:text-blue-400 hover:underline`}>dashboard</a>
        or <button on:click={onDisconnectClick} class={tw`text-blue-600 dark:text-blue-400 hover:underline`}>disconnect</button>.
      </p>
    {:else}
      <p class={tw`px-4 py-2 text-sm text-justify border-1 bg-gray-100 dark:(bg-gray-800 border-gray-700 text-white) rounded-md`}>
        Connect to <a href="https://docs.lens.dev/docs" class={tw`text-blue-600 dark:text-blue-400 hover:underline`}>Lens Protocol</a>
        on <a href={networks[network].linkToHub(hubAddress)} class={tw`text-blue-600 dark:text-blue-400 hover:underline`}>{networks[network].name}</a>
        and manage dispatchers for your profiles.
        Use it at your own risk.
      </p>

      {#if $ethereum.chainId === 0 || !$ethereum.provider}
        <p class={tw`px-4 py-2 text-sm text-justify border-1 bg-red-100 dark:(bg-red-800 border-red-700 text-white) rounded-md`}>
          Install MetaMask to connect.
        </p>
      {:else if $ethereum.chainId !== networks[network].chainId}
        <p class={tw`px-4 py-2 text-sm text-justify border-1 bg-red-100 dark:(bg-red-800 border-red-700 text-white) rounded-md`}>
          Change to <button disabled={changeNetworkLoading} on:click={onChangeNetworkClick} class={tw`text-red-900 dark:text-blue-100 hover:underline disabled:cursor-not-allowed`}>{networks[network].name}</button> network to connect.
        </p>
      {:else if $ethereum.connected}
        <button disabled={signMessageLoading} on:click={onSignMessageClick} class={tw`w-full flex items-center justify-between px-4 py-2 space-x-2 text-white transition-all duration-200 bg-gray-700 border-1 border-gray-600 hover:border-blue-600 rounded-md hover:bg-opacity-80 focus:outline-none focus:ring-2 focus:ring-black focus:ring-offset-1 dark:focus:ring-offset-black disabled:opacity-50 disabled:cursor-not-allowed`}>
          <span>Sign message to authenticate</span>
        </button>

        <p class={tw`text-[12px] leading-3 text-gray-600 dark:text-gray-400`}>
          Signing this unique message verifies the address.
        </p>
      {:else}
        <div class={tw`flex flex-nowrap items-center justify-center space-x-2 text-gray-600 dark:text-gray-400`}>
          <span class={tw`w-20 h-px bg-gray-400 dark:text-gray-600`}></span>
          <span>Choose your wallet</span>
          <span class={tw`w-20 h-px bg-gray-400 dark:text-gray-600`}></span>
        </div>

        <button disabled={connectMetaMaskLoading} on:click={onConnectMetaMaskClick} class={tw`w-full flex items-center justify-between px-4 py-2 space-x-2 text-white transition-all duration-200 bg-gray-700 border-1 border-gray-600 hover:border-blue-600 rounded-md hover:bg-opacity-80 focus:outline-none focus:ring-2 focus:ring-black focus:ring-offset-1 dark:focus:ring-offset-black disabled:opacity-50 disabled:cursor-not-allowed`}>
          <span>Connect with MetaMask</span>
        </button>

        <p class={tw`text-[12px] leading-3 text-gray-600 dark:text-gray-400`}>
          Your wallet will prompt to connect and <br />to sign a message from the authorization server.
        </p>
      {/if}
    {/if}
  </div>
</main>
