<script>
  import {tw} from "twind"
  import {link} from "svelte-spa-router"

  import {LensHub} from "../abi"
  import {ethereum, hub} from "../stores"
  import networks from "../networks"

  import NotFound from "../components/NotFound.svelte"

  export let network
  export let hubAddress
  export let params = {}

  function get(property) {
    const transaction = {
      to: hubAddress,
      from: $ethereum.defaultAccount,
      data: LensHub.encodeFunctionData(property),
      chainId: $ethereum.chainId,
    }

    return $ethereum.provider
      .request({method: "eth_call", params: [transaction]})
      .then(response => LensHub.decodeFunctionResult(property, response))
  }

  function getName() {
    return get('name')
  }

  function getSymbol() {
    return get('symbol')
  }

  $: if (
    params.address === hubAddress &&
    !($hub.name && $hub.symbol) &&
    $ethereum.connected &&
    $ethereum.chainId === networks[network].chainId
  ) {
    Promise.all([getName(), getSymbol()]).then(([name, symbol]) => {
      hub.update(prevState => ({
        ...prevState,
        name,
        symbol,
      }))
    })
  }
</script>

{#if params.address === hubAddress}
  <main aria-labelledby="page-title" class={tw`flex flex-col items-center justify-center min-h-screen p-4 space-y-4 antialiased text-gray-900 bg-gray-100 dark:bg-gray-800 dark:text-white`}>
    <div class={tw`w-full max-w-sm p-6 pt-4 space-y-4 bg-white rounded-md dark:bg-gray-900`}>
      <h1 id="page-title" class={tw`text-xl font-semibold text-center`}>
        {#if $hub.name}
          {$hub.name}
        {:else}
          {hubAddress.substring(0, 6)}&hellip;{hubAddress.substring(hubAddress.length - 4)}
        {/if}
      </h1>

      <p class={tw`px-4 py-2 text-sm border-1 bg-gray-100 dark:(bg-gray-800 border-gray-700 text-white) rounded-md`}>
        {#if $hub.name}
          <span class={tw`font-bold text-green-600 dark:text-green-400`}>{$hub.name}</span>.
        {/if}
        {#if $hub.symbol}
          <span class={tw`text-purple-600 dark:text-purple-400`}>{$hub.symbol}</span> symbol.
        {/if}
        <span class={tw`text-purple-600 dark:text-purple-400`}>{networks[network].name}</span> network.
        Chain <span class={tw`text-purple-600 dark:text-purple-400`}>{networks[network].chainId}</span>.
      </p>

      <p class={tw`text-sm text-gray-600 dark:text-gray-400`}>
        Go to <a href="/" use:link class={tw`text-blue-600 dark:text-blue-400 hover:underline`}>dashboard</a>.
      </p>
    </div>
  </main>
{:else}
  <NotFound />
{/if}
