<script>
  import {tw} from "twind"

  import {account} from "../../stores"

  import PageTitle from "../../components/PageTitle.svelte"

  export let hubAddress
  export let params = {}
</script>

<PageTitle>Dashboard</PageTitle>

<div class={tw`mt-2 grid grid-cols-1 gap-8 p-4 lg:grid-cols-2 xl:grid-cols-6`}>

  <div class={tw`flex items-center justify-between p-4 bg-white dark:bg-black rounded-md`}>
    <div>
      <h6 class={tw`text-xs font-medium leading-none uppercase tracking-wider text-gray-500 dark:text-white`}>
        Profiles
      </h6>
      <span class={tw`text-xl font-semibold`}>
        {#if $account.loaded}
          {$account.profiles.length}
        {:else}
          ?
        {/if}
      </span>
    </div>
    <div>
      <span>
        <svg
          class={tw`w-12 h-12 text-gray-300 dark:text-gray-800`}
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"
          />
        </svg>
      </span>
    </div>
  </div>

</div>
