<script>
  import {tw} from "twind"
  import {link} from "svelte-spa-router"

  import {LensHub} from "../../abi"
  import {account, ethereum} from "../../stores"

  import PageTitle from "../../components/PageTitle.svelte"
  import NotFound from "../../components/NotFound.svelte"

  export let hubAddress
  export let params = {}

  let profile
  let dispatcher
  let metadata

  function getDispatcher(profileId) {
    const transaction = {
      to: hubAddress,
      from: $ethereum.defaultAccount,
      data: LensHub.encodeFunctionData('getDispatcher', [profileId]),
      chainId: $ethereum.chainId,
    }

    return $ethereum.provider
      .request({method: "eth_call", params: [transaction]})
      .then(response => {
        const results = LensHub.decodeFunctionResult('getDispatcher', response)
        return results[0]
      })
  }

  function tokenURI(profileId) {
    const transaction = {
      to: hubAddress,
      from: $ethereum.defaultAccount,
      data: LensHub.encodeFunctionData('tokenURI', [profileId]),
      chainId: $ethereum.chainId,
    }

    return $ethereum.provider
      .request({method: "eth_call", params: [transaction]})
      .then(response => {
        const results = LensHub.decodeFunctionResult('tokenURI', response)
        return results[0]
      })
  }

  function getMetadata(profileId) {
    return tokenURI(profileId).then(uri => {
      if (!uri.startsWith('data:application/json;base64,')) {
        return {}
      }
      const encoded = uri.substring('data:application/json;base64,'.length)
      const raw = JSON.parse(atob(encoded))
      return {...raw, traits: parseAttributes(raw?.attributes ?? [])}
    })
  }

  function parseAttributes(attrs) {
    const traits = {}
    for (const attr of attrs) {
      if (typeof attr?.trait_type === 'string') {
        traits[attr.trait_type] = attr.value
      }
    }
    return traits
  }

  $: {
    profile = undefined
    dispatcher = undefined
    if ($account.loaded) {
      for (const p of $account.profiles) {
        if (p.handle === params.profile) {
          profile = p
          if (
            p.profileId in $account.dispatchers &&
            p.profileId in $account.metadata
          ) {
            dispatcher = $account.dispatchers[p.profileId]
            metadata = $account.metadata[p.profileId]
          } else {
            Promise.all([
              getDispatcher(p.profileId),
              getMetadata(p.profileId),
            ])
            .then(([d, m]) => {
              dispatcher = d
              metadata = m
              account.update(prevState => ({
                ...prevState,
                dispatchers: {
                  ...prevState.dispatchers,
                  [p.profileId]: d,
                },
                metadata: {
                  ...prevState.metadata,
                  [p.profileId]: m,
                },
              }))
            })
          }
        }
      }
    }
  }
</script>

{#if profile}
  <PageTitle>
    Profile <code>@{params.profile}</code>
  </PageTitle>

  <div class={tw`mt-2 grid grid-cols-1 gap-8 p-4 lg:grid-cols-2 xl:grid-cols-3`}>
    {#if dispatcher}
      <div class={tw`flex items-center justify-between p-4 bg-white dark:bg-black rounded-md`}>
        <div>
          <h6 class={tw`text-xs font-medium leading-none uppercase tracking-wider text-gray-500 dark:text-white`}>
            Dispatcher
          </h6>
          {#if dispatcher === '0x0000000000000000000000000000000000000000'}
            <span class={tw`text-sm font-semibold`}>Not set.</span>
            <span class={tw`text-sm`}>
              <a href={`/profiles/${params.profile}/init`} use:link class={tw`text-blue-600 dark:text-blue-400 hover:underline`}>Create a dispatcher</a>
              to begin using this profile.
            </span>
          {:else}
            <span class={tw`text-sm font-semibold`}>{dispatcher}</span>
          {/if}
        </div>
      </div>
    {/if}
  </div>
{:else}
  <NotFound message="Profile was not found found." />
{/if}
