<script>
  import {tw} from "twind"
</script>

<div class={tw`flex h-screen antialiased text-gray-900 bg-gray-100`}>
  <div class={tw`fixed inset-0 z-50 flex items-center justify-center text-2xl tracking-widest font-semibold`}>
    Loading..
  </div>
</div>
