<script>
  import {tw} from "twind"
  import {location, link} from "svelte-spa-router"
  import active from "svelte-spa-router/active"

  export let items = []
  export let onChange = () => {}

  function handleNavClick(parentIndex, childIndex) {
    return function onClick() {
      onChange(parentIndex, childIndex)
    }
  }

  let states = {}

  $: {
    states = items.reduce(
      (states, {href, children}, parent) => {
        if (href === $location) {
          return {...states, [parent]: {active: true, children: []}}
        }
        for (let child = 0; child < children?.length ?? 0; child++) {
          if (children[child].href === $location) {
            return {
              ...states,
              [parent]: {
                active: true,
                children: {[child]: {active: true}}
              }
            }
          }
        }
        return states
      },
      {}
    )
  }
</script>

<nav aria-label="Main" class={tw`flex-1 w-64 px-2 py-4 space-y-2 overflow-y-hidden hover:overflow-y-auto`}>

  {#each items as {label, href, children, empty}, parent (label)}
    <div>
      <a
        href={href ?? '/'}
        use:link={{disabled: !!empty || (children && children.length > 0)}}
        on:click={handleNavClick(parent)}
        role={!!empty || (children && children.length > 0) ? "button" : undefined}
        class={tw`flex items-center p-2 transition-colors rounded-md text-gray-500 hover:bg-gray-100 ${states[parent]?.active ? 'bg-gray-100 hover:bg-gray-200' : ''} dark:(text-white hover:bg-gray-900 ${states[parent]?.active ? 'bg-gray-900 hover:bg-black' : ''})`}
      >
        <span class={tw`ml-2 text-sm`}>{label}</span>
        {#if children && children.length > 0}
          <span aria-hidden="true" class={tw`ml-auto`}>
            <svg
              class={tw`w-4 h-4 transition-transform transform ${states[parent]?.active ? '' : (parent % 2 === 0 ? '' : '-') + 'rotate-90'}`}
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </span>
        {/if}
      </a>
      {#if children && children.length > 0}
        {#each children as {label, href}, child (label)}
          <div class={tw`mt-2 ml-7 space-y-2`} role="menu" aria-label={label}>
            <a {href} use:link use:active on:click={handleNavClick(parent, child)} class={tw`block p-2 text-sm transition-colors duration-200 rounded-md text-gray-400 hover:text-gray-700 dark:hover:text-white ${states[parent]?.children[child]?.active ? 'text-gray-700 dark:text-gray-100 hover:(text-gray-800 dark:text-white)' : ''}`}>
              {label}
            </a>
          </div>
        {/each}
      {:else if empty}
        <p class={tw`py-3 px-2 italic text-sm text-center text-gray-400 dark:text-gray-600`}>{empty}</p>
      {/if}
    </div>
  {/each}

</nav>