<script>
  import {link} from "svelte-spa-router"
  import {tw} from "twind"

  export let params = {}
  export let shrink = false
  export let message = undefined
</script>

<main aria-labelledby="page-title" class={tw`flex ${shrink ? '' : 'h-screen'} items-center justify-center bg-gray-100 dark:bg-gray-800 dark:text-white`}>
  <div class={tw`p-4 space-y-4`}>
    <div class={tw`flex flex-col items-start space-y-3 sm:flex-row sm:space-y-0 sm:items-center sm:space-x-3`}>
      <p class={tw`font-semibold text-red-300 text-9xl dark:text-red-500`}>404</p>
      <div class={tw`space-y-2`}>
        <h1 id="page-title" class={tw`flex items-center space-x-2`}>
          <svg
            aria-hidden="true"
            class={tw`w-6 h-6 text-red-300 dark:text-red-500`}
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
            />
          </svg>
          <span class={tw`text-xl font-medium text-gray-600 sm:text-2xl dark:text-white`}>
            Oops! Not found.
          </span>
        </h1>
        <p class={tw`text-base font-normal text-gray-600 dark:text-gray-300`}>
          {#if params.wild}
            <code class={tw`border rounded p-1 bg-gray-200 dark:bg-gray-700`}>/{params.wild}</code> was not found.
          {:else if message}
            {@html message}
          {:else}
            The page you are looking for was not found.
          {/if}
        </p>
        <p class={tw`text-base font-normal text-gray-600 dark:text-gray-300`}>
          You may return to <a href="/" use:link class={tw`text-blue-600 hover:underline dark:text-blue-500`}>home page</a>.
        </p>
      </div>
    </div>
  </div>
</main>
