<script>
  import {tw} from "twind"
</script>

<div class={tw`flex items-center justify-between px-4 py-4 lg:py-6 border-b border-gray-500 dark:border-gray-900`}>
  <h1 id="page-title" class={tw`text-2xl font-semibold`}>
    <slot />
  </h1>
</div>
