<script>
  import {onMount} from "svelte"
  import {tw} from "twind"

  export let open = true

  function onToggleClick() {
    open = !open
  }

  function onKeyDown(event) {
    if (event.keyCode === 27 && window.innerWidth <= 1024) {
      open = false
    }
  }

  function onResize() {
    if (window.innerWidth <= 1024) {
      open = false
    } else if (window.innerWidth >= 1024) {
      open = true
    }
  }

  onMount(onResize)
</script>

<svelte:window on:keydown={onKeyDown} on:resize={onResize} />

{#if open}
  <aside class={tw`fixed lg:static inset-y-0 z-10 border-r flex flex-shrink-0 overflow-hidden bg-white border-gray-500 dark:(bg-gray-700 border-gray-900) focus:outline-none ease-in-out`}>
    <slot />
  </aside>
{/if}

<div class={tw`fixed flex items-center space-x-4 top-5 right-10 lg:hidden`}>
  <button on:click={onToggleClick} class={tw`p-1 transition-colors duration-200 rounded-md text-gray-700 bg-gray-300 hover:text-black hover:bg-gray-500 dark:(text-gray-300 bg-gray-800 hover:text-white hover:bg-gray-500) focus:outline-none focus:ring`}>
    <span class={tw`sr-only`}>Toggle main manu</span>
    <span aria-hidden="true">
      {#if open}
        <svg
          class={tw`w-8 h-8`}
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      {:else}
        <svg
          class={tw`w-8 h-8`}
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      {/if}
    </span>
  </button>
</div>
