html, body {
  height: 100%;
}
@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
}
.active {
  background-color: lightgreen !important;
  color: green !important;
}
